
{% extends "base.html" %}

{% block content %}
      <h3>This is the start of my child template.</h3>
      <br>
      <p>My string: {{my_string}}</p>
      <p>Value from the list: {{my_list[3]}}</p>
      <p>Loop through list:</p>
      <ul>  <!-- no colon at end of for statement -->
	{% for n in my_list %}  
	<li>{{n}}</li>
	{% endfor %}    <!-- and need to specify end of for block explicitly -->
      </ul>
      <p>This is my list: {{ my_list }}</p>
      <p>Same list with a filter: {{ my_list|join(', ') }}</p>
      <h3>This is the end of my child template.</h3>
      <h4>Current date/time: {{ current_time | datetimefilter }}</h4>
{% endblock %}      

{% block footer %}
{{super()}}  <!-- the super extends the block from the base, not override -->
    ... and this addition to the footer is coming from the child template
{% endblock %}
      

